body {
    margin: 0;
    padding: 0;
}
header {
    background: #000;
    height: 100px;
    position: fixed;
    width: 100%;
}
.header {
    width: auto;
    min-width: 65%;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.header-logo {
    width: auto;
    max-width: 250px;
    height: auto;
}
.header-logo a {
    text-decoration: none;
    color: rgb(252, 0, 0);
    font-size: 26pt;
}
.header-logo span {
    color: #fff;
}

nav {
    margin-left: 15px;
}
nav>ul {
    margin: 10px;
}
nav>ul>li {
    display: inline;
    margin-left: 10px;
}
nav>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 16pt;
    
}